html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header-container {
  display: flex;
  padding: 10px;
}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.links-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-container {
  display: flex;
  margin: 0 auto;
  padding: 0 40px;
  flex: 2;
  flex-wrap: wrap;
}

.hero-text-container {
  flex: 1;
}

.hero-image-container {
  display: flex;
  flex: 2;
  justify-content: center;
}

.accessories-text-container {
  display: flex;
  justify-content: center;
}

.accessory-item {
  width: 300px;
  text-align: center;
}

.accessories-container {
  flex: 2;
}

.accessories-item-container {
  display: flex;
  margin: 0 auto;
  padding: 0 40px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.sign-up-container-background {
  display: flex;
  align-items: center;
  background-color: #006fcd;
  justify-content: center;
  flex: 1;
  padding: 0 40px;
}

.sign-up-container {
  display: flex;
  align-items: center;
  width: 600px;
}

.sign-up-button {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.sign-up-text {
  flex: 2;
  color: white;
}

.sign-up-button {
  flex: 1;
}

.sign-up-button button {
  background-color: white;
  padding: 6px 14px;
  border-radius: 40px;
  font-weight: 900;
  font-size: 1.1em;
  border: none;
}

.footer {
  padding: 0 40px;
}

.footer a {
  color: #ea8000;
}